.code {
  color: #DD4A68;
}

.default {
  color: #07a
}

pre .token.operator {
  background: none !important;
}

.color-theme-2 pre .token.operator {
  color: #07a !important;
}

.token.number {
  color: #DD4A68 !important;
}

.summary > .chapter > a {
  font-weight: bold !important;
}
