.code {
  color: #DD4A68;
}

.default {
  color: #07a
}

.color-theme-2 pre .token.operator {
  background: none !important;
  color: #07a !important;
}

.token.number {
  color: #DD4A68 !important;
}
