.site-footer {
  display: none;
}

span.code {
  color: #268bd2;
}

span.default {
  color: #cb4b16;
}

.nav-list.anchored {
  display: block !important;
}

:target {
  padding-top: 20px;
}

blockquote {
  font-style: italic;
  font-size: 0.9rem;
}
